<main class="catalog-item-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Каталоги</div>
    </div>
  </div>
  <section class="breadcrumbs container" *ngIf="brand.description !== ''">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/catalogs"
    >Бренды и каталоги / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/catalogs/{{brand.slug}}"
    >{{brand.name}}</a>
  </section>
  <mat-spinner class="container" *ngIf="brand.description === ''"></mat-spinner>
  <section class="brand-description container" [innerHTML]="brand.description"></section>
  <div #scrollTarget class="scroll-to-me-on-page-switch-mobile"></div>
  <section class="catalogs-container container">
    <div class="catalog-keeper">
      <div class="catalog-multiplier" *ngFor="let catalog of brand.catalogs | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <a class="catalog-multiplier__link" target="_blank" href="{{env.serverURL + catalog.pdfPath}}">
          <img  class="catalog-multiplier__cover" src="{{env.serverURL + catalog.imgPath}}" alt="PDF">
          <div class="bot-title-box">
            <img class="bot-title-box__img" src="assets/img/pdf-orange.png" alt="">
            <span class="bot-title-box__text">{{catalog.name | slice:0: 32 }}{{catalog.name.length > 32 ? ' ...' : ''}}</span>
          </div>
        </a>
      </div>
    </div>
    <div class="pagination-block" [ngClass]="{'single-page': brand.catalogs.length <= pageSize}">
      <ngb-pagination
        (click)="scroll(scrollTarget)"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="brand.catalogs.length">
      </ngb-pagination>
    </div>
  </section>
</main>
