<main class="catalog-item-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Каталоги</div>
    </div>
  </div>
  <section class="brand-description container" [innerHTML]="brand.description"></section>
  <section class="catalogs-container container">
    <div class="catalog-keeper">
      <div class="catalog-multiplier" *ngFor="let catalog of brand.catalogs | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <a class="catalog-multiplier__link" target="_blank" href="{{env.serverURL + catalog.pdfPath}}">
          <img  class="catalog-multiplier__cover" src="{{env.serverURL + catalog.imgPath}}" alt="PDF">
          <div class="bot-title-box">
            <img class="bot-title-box__img" src="assets/img/pdf-orange.png" alt="">
            <span class="bot-title-box__text">{{catalog.name | slice:0: 32 }}{{catalog.name.length > 32 ? ' ...' : ''}}</span>
          </div>
        </a>
      </div>
    </div>
    <div class="pagination-block">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="brand.catalogs.length">
      </ngb-pagination>
    </div>
  </section>
</main>
