<mat-toolbar color="primary" class="title-mat-toolbar">
  <h1>Продукты (Масла)</h1>
</mat-toolbar>
<mat-toolbar class="option-mat-toolbar">
  <div class="left-btn-section">
    <nav>
      <mat-form-field>
        <mat-label>Массовые функции</mat-label>
        <mat-select [(value)]="bulkAction" (selectionChange)="onBulkActionChange($event)">
          <mat-option>нет</mat-option>
          <mat-option value="activate">Активировать</mat-option>
          <mat-option value="deactivate">Деактивировать</mat-option>
          <mat-option value="delete">Удалить</mat-option>
        </mat-select>
      </mat-form-field>
    </nav>
    <nav>
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Поиск">
      </mat-form-field>
    </nav>
    <nav>
      <button (click)="openDialog('Create', this.dropDownData)" mat-mini-fab color="warn">
        <span class="material-icons">add</span>
      </button>
    </nav>
  </div>
  <div class="right-btn-section">
    <nav>
      <a routerLink="/products/oil" mat-raised-button color="primary" target="_blank">Перейти в "Продукты
        Масла"</a>
    </nav>
  </div>
</mat-toolbar>
<mat-table
  class="mat-elevation-z8"
  cdkDropList
  matSort
  #table
  [dataSource]="dataSource"
  [cdkDropListData]="dataSource.data"
  (cdkDropListDropped)="drop($event)"
>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- pdf Column -->
  <ng-container matColumnDef="imgPath">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Картинка</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="serverUrl + element.imgPath" height="40px;" alt="">
    </mat-cell>
  </ng-container>

  <!-- pdf Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Название продукта</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="font-size-10">
              {{element.name }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell mat-sort-header *matHeaderCellDef> No.</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.position}} </mat-cell>
  </ng-container>

  <!-- active Column -->
  <ng-container matColumnDef="active">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Активен</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{(element.active === 1) ? 'Да' : 'Нет'}} </mat-cell>
  </ng-container>

  <!-- brand name Column -->
  <ng-container matColumnDef="brand">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Партнёр</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="font-size-10">
        {{(element.brand_name) ? element.brand_name : 'партнёра нет' }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- category name Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Категория</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="font-size-10">
        {{ element.category_name }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- subcategory Column -->
  <ng-container matColumnDef="subcategory">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Подкатегория</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="font-size-10">
        {{(element.subcategory_name) ? element.subcategory_name : 'подкатегории нет' }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- pdf Column -->
  <ng-container matColumnDef="slug">
    <mat-header-cell mat-sort-header *matHeaderCellDef> окончание URL</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.slug }}</mat-cell>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Дата</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Опции</mat-header-cell>
    <mat-cell *matCellDef="let element" class="action-link">
      <a (click)="openDialog('Update',element)"><span class="table-row-action edit material-icons"> edit </span></a>
      <a (click)="openDialog('Delete',element)"><span class="table-row-action delete material-icons"> delete </span></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           cdkDrag
           (click)="selection.toggle(row)">
  </mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
