<main class="login-wrapper">
  <h1>Логин</h1>
  <mat-form-field >
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [(ngModel)]="user.email"
      placeholder="Например, boss@site.com"
      color="warn">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Пароль</mat-label>
    <input
      type="password"
      matInput
      [(ngModel)]="user.password"
      color="warn">
  </mat-form-field>
  <button id="sbmt_btn" mat-raised-button color="warn" (click)="login()">Войти</button>
</main>

