<main class="services-metalworking-home-wrapper">
  <section class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Комплексная <br> металлообработка</div>
    </div>
  </section>
  <section class="breadcrumbs container">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/services"
    >услуги / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/services/metalworking"
    >комплексная металлообработка</a>
  </section>
  <section class="metalworking-wrapper container">
    <div class="metalworking-wrapper__box first-section">
      <div class="img-container">
        <img src="assets/img/metalworking/metalworking-title-image.jpg" alt="металлообработка">
      </div>
      <div class="text-container">
        <div class="title">
          Металлообработка
        </div>
        <div class="line"></div>
        <div class="text">
          <p>
            Комплекс технологических процессов по изменению формы,
            размеров и физических качеств, и свойств металлов и их сплавов. Обработка
            металлов зародилась в доисторическую эпоху и пережила множество этапов
            развития и революционных открытий, дала толчок развитию индустриальной
            революции, и благодаря научным исследованиям металлообработки вывести
            производство на новый уровень.
          </p>
          <p>
            Наше предприятие способно обеспечить практически весь комплекс обработки
            металлов по вашим требованиям с соблюдением всех технологических процессов.
          </p>
        </div>
      </div>
    </div>
    <div class="metalworking-wrapper__box second-section">
      <div class="title">Предлагаемые нами услуги</div>
      <div class="services">
        <div class="services__item ">
          <div class="img tokar"></div>
            <p class="text">
              Токарная обработка
            </p>
        </div>
        <div class="services__item ">
          <div class="img frez"></div>
          <p class="text">
            Фрезерная обработка
          </p>
        </div>
        <div class="services__item ">
          <div class="img termo"></div>
          <p class="text">
            Термообработка
          </p>
        </div>
        <div class="services__item ">
          <div class="img nakat"></div>
          <p class="text">
            Накатка резьбы
          </p>
        </div>
      </div>
    </div>
    <div class="metalworking-wrapper__box third-section">
      <div class="title">Обрабатываемы материалы</div>
      <ul class="metalworking-list">
        <li class="metalworking-list__item">стали: нержавеющие, кислотостойкие, стали для термического улучшения, конструкционные, инструментальные</li>
        <li class="metalworking-list__item">цветные металлы: алюминий, бронза, латунь, медь</li>
        <li class="metalworking-list__item">чугун</li>
        <li class="metalworking-list__item">полипропилен</li>
      </ul>
    </div>
    <div class="metalworking-wrapper__box fourth-section">
      <div class="title">Наше оборудование</div>
      <div class="equipment-container">
        <mat-spinner *ngIf="!imagesReady"></mat-spinner>
        <ngx-gallery [options]="galleryOptions" [images]="equipmentList" (imagesReady)="imagesReadyEvent()"></ngx-gallery>
      </div>
    </div>
  </section>
</main>
