<h1 mat-dialog-title><strong>{{actionTitleMapping(action)}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <p>
      <mat-form-field class="formFieldWidth752">
        <mat-label>Название</mat-label>
        <input matInput [(ngModel)]="localData.name" width="100%" placeholder="например, Мы побывали на выставке">
      </mat-form-field>
    </p>
    <p>
      <mat-slide-toggle [(ngModel)]="localData.active">Активен</mat-slide-toggle>
    </p>
    <p>
      <mat-label class="ck-editor-label">Описание</mat-label>
      <ckeditor [config]="ckEditorConfig" [editor]="Editor" [(ngModel)]="localData.description"></ckeditor>
    </p>

  </div>
  <ng-template #elseTemplate>
    Уверен в удалении <b>{{localData.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-flat-button (click)="doAction()" color="warn">{{actionButtonMapping(action)}}</button>
  <button mat-button mat-flat-button (click)="closeDialog()" color="primary">Отменить</button>
</div>
