<main class="products-oil-home-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Масла</div>
      <div class="header-box__text">
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
      </div>
    </div>
  </div>
  <div class="breadcrumbs container">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/products"
    >продукция / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/products/oil"
    >масла </a>
  </div>
  <div class="oil-wrapper container">
    <div class="oil-header">
      <span class="oil-header__category">Категории</span>
      <span class="oil-header__selected-name">{{ this.selectedCategoryNameToShow }}</span>
    </div>
    <div class="content-container container">
      <aside class="navigation-container">
        <mat-accordion>
          <mat-expansion-panel
            [id]="category.id"
            *ngFor="let category of categoryList"
            (click)="selectCategory(category)"
            [ngClass]="{'active': category.activeClass}"
            [expanded]="category.isExpanded"
            [routerLink]="['/products/oil']"
            routerLinkActive="list-item-active"
          >

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div
              class="expansion-item sub-categories-item"
              [id]="subcategory.id"
              *ngFor="let subcategory of category.subcategories"
              [ngClass]="{'active': subcategory.activeClass}"
              [routerLink]="['/products/oil']"
              routerLinkActive="list-item-active"
              (click)="$event.stopPropagation(); selectSubCategory(subcategory, category.subcategories)">
              {{subcategory.name}}
            </div>
            <div class="sub-categories">
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </aside>
      <section class="product-wrapper">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</main>
