@import "../../app.global";

.products-oil-home-wrapper {
  display: flex;
  flex-direction: column;
}

.header-container {
  height: 370px;
  background: $main-color2;
  border-bottom: 10px solid $main-color1;
  margin-bottom: 40px;
  background: url("/assets/img/header-catalogs.png") no-repeat;

  .header-box {
    color: white;
    @extend %fcc;
    align-items: flex-start;
    height: 100%;

    &__title {
      font-size: 72px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 6px;
    }

    &__text {
      font-size: 14px;
      height: 150px;
    }
  }
}

.breadcrumbs {
  @extend %fc;
  justify-content: flex-start;
  margin-bottom: 40px;

  &__item {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    margin-right: 3px;
    font-weight: bolder;
    color: #9e9e9e;

    &:hover {
      color: $main-color2;
    }

    &.current {
      color: $main-color2;
    }
  }
}

.oil-wrapper {

  .category-header {
  }

  .content-container {
    @extend %fsb;
    align-items: flex-start;
    padding: 0;

    .navigation-container {
      width: 350px;

      .mat-expansion-panel {
        margin-bottom: 5px;
      }

      .mat-expansion-panel-header {
        background: $main-color2;
      }

      & .mat-expanded .mat-expansion-panel-header  {
        background: $main-color1;
      }

      .mat-expansion-panel-header-title {
        color: white;
      }

      ::ng-deep .mat-expansion-indicator:after {
        color: white;
      }

      ::ng-deep .mat-expansion-panel-body{
        padding: 0px;

        .expansion-item {
          @extend %fc;
          justify-content: flex-start;
          cursor: pointer;
          height: 40px;
          border-bottom: 1px solid lightgrey;
          padding: 5px 5px 5px 15px;

          &:hover {
            background: #e9e9e9;
          }

          &.active {
            color: $main-color1;
            background: #f3f3f3;
          }

          &:after {
            content: '';

          }
        }
      }
    }
    .product-wrapper{
      width: 725px;
    }

    //.brand-container{
    //  @extend %fc;
    //  justify-content: flex-start;
    //  flex-wrap: wrap;
    //  margin-bottom: 100px;
    //
    //  .brand-item {
    //    @extend %fc;
    //    width: 173px;
    //    height: 75px;
    //    margin-right: 10px;
    //    margin-bottom: 10px;
    //    cursor: pointer;
    //    border: 1px solid $main-color5;
    //    transition: .2s ease-in-out;
    //
    //    &:nth-child(4n) {
    //      margin-right: 0;
    //    }
    //
    //    &:hover {
    //      border: 1px solid transparent;
    //      border-left: 5px solid $main-color1;
    //    }
    //
    //    &:hover .brand-img {
    //      filter: grayscale(0);
    //    }
    //
    //    &.active {
    //      border: 1px solid transparent;
    //      background: $main-color1;
    //
    //      .brand-img {
    //        filter: grayscale(0);
    //      }
    //    }
    //  }
    //
    //  .brand-img {
    //    max-width: 165px;
    //    max-height: 70px;
    //    filter: grayscale(100%);
    //  }
    //}


    .product-container{
      margin-bottom: 50px;

      .product-item{
        @extend %fsb;
        align-items: flex-start;

        .product-img-container{
          .product-img {
            max-width: 150px;
          }
        }

        .description-container{

        }
      }
    }
  }
}
