<main class="products-oil-home-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Масла</div>
      <div class="header-box__text">
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
        ТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст <br>
      </div>
    </div>
  </div>
  <div class="breadcrumbs container">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная  / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/products"
    >продукция  / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/products/oil"
    >масла </a>
  </div>
  <div class="oil-wrapper container">
    <div class="category-header">
      <h2>Индустриальные масла</h2>
    </div>
    <div class="content-container container">
      <aside class="navigation-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let category of categoryList" (click)="selectCategory(category)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.categoryName }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              class="sub-categories"
              *ngFor="let subcategory of category.subCategories"
              [ngClass]="{'active': subcategory.activeClass === true} "
              (click)="$event.stopPropagation(); selectSubCategory(subcategory)">
              {{subcategory.subCategoryName}}
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </aside>
      <div class="product-wrapper">
        <div class="brand-container" *ngFor="let brand of brandList" (click)="selectBrand(brand)">
          {{ brand.brandName }}
        </div>
        <br>
        <br>
        <br>
        <div class="product-container">
          <div class="product" *ngFor="let product of productsToShow" (click)="selectProductsOil(product)">
            {{product.productName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
