<main class="products-oil-home-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Продукция</div>
    </div>
  </div>
  <div class="breadcrumbs container" id="breadcrumbs-products">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/products"
      (click)="resetShownProducts()"
    >продукция</a>
  </div>
  <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>

  <div class="oil-wrapper container">
    <div class="content-container container">
      <aside class="navigation-container">
        <div class="category-title">Категории</div>
        <mat-accordion>
          <mat-expansion-panel
            [id]="'category_'+category.id"
            *ngFor="let category of categoryList"
            (click)="selectCategory(category)"
            [ngClass]="{'active': category.activeClass}"
            class="category-expansion-panel"
            [expanded]="category.isExpanded"
            [routerLink]="['/products']"
            routerLinkActive="list-item-active"
          >

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div
              class="expansion-item sub-categories-item"
              [id]="'subcategory_'+subcategory.id"
              *ngFor="let subcategory of category.subcategories"
              [ngClass]="{'active': subcategory.activeClass}"
              [routerLink]="['/products']"
              routerLinkActive="list-item-active"
              (click)="$event.stopPropagation(); selectSubCategory(subcategory, category.subcategories)">
              {{subcategory.name}}
            </div>
            <div class="sub-categories">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </aside>
      <section class="product-wrapper">
        <div id="current-view-name" class="selected-name">{{ this.selectedNameToShow }}</div>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</main>
