<main class="products-wrapper">
  <section id="s1" class="first-section">
    <div class="first-section-left-sector"></div>
    <div class="first-section-right-sector"></div>
    <div class="first-section-sq-sector">
      <img class="first-section-sq-sector__left sq-sector-item" src="assets/img/background/sq-left-drill.png" alt="">
      <img class="first-section-sq-sector__right sq-sector-item" src="assets/img/background/sq-right-oil.png" alt="">
    </div>
    <div class="first-section-goToProduct-sector">
      <div class="first-section-goToProduct-sector__left goToProduct-sector-item">
        <div class="title-box title-box-left">Металлорежущий <br> инструмент и оснастки</div>
        <a
          mat-list-item routerLinkActive="list-item-active"
          class="goToProduct-btn goToProduct-btn-left"
          routerLink="/products/drill"
        >Перейти в раздел</a>
      </div>
      <div class="first-section-goToProduct-sector__right goToProduct-sector-item">
        <div class="title-box title-box-right">Смазочные <br> материалы</div>
        <a
          mat-list-item routerLinkActive="list-item-active"
          class="goToProduct-btn goToProduct-btn-left"
          routerLink="/products/oil"
        >Перейти в раздел</a>
      </div>
    </div>
  </section>
  <section id="s2" class="second-section">

  </section>
</main>
