<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <p>
      <mat-form-field appearance="fill" class="formFieldWidth752">
        <input matInput [(ngModel)]="localData.postTitle" width="100%">
        <mat-hint>Заголовок</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="formFieldWidth752">
        <textarea matInput [(ngModel)]="localData.postShortText"></textarea>
        <mat-hint>Краткое описание</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <ckeditor [editor]="Editor" [(ngModel)]="localData.postArticle"></ckeditor>
      <mat-hint>Статья целиком</mat-hint>
    </p>
    <p>
        <mat-slide-toggle [(ngModel)]="localData.active">Активная</mat-slide-toggle>
    </p>
          <form>
        <div class="form-group">
            <fieldset class="form-group">

                <label>Upload Logo</label>
                {{imageError}}
                <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">

                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container>
                        <ng-template #elseTemplate>

                            <img src="assets/img/photo-placeholder-icon-0.jpg" class="img-responsive">
                        </ng-template>

                    </div>

                </div>
            </fieldset>
        </div>
        <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
    </form>
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{localData.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
