<main class="services-wrapper">
  <section id="s1" class="first-section">
    <div class="first-section-left-sector"></div>
    <div class="first-section-right-sector"></div>
    <div class="first-section-sq-sector">
      <img class="first-section-sq-sector__left sq-sector-item" src="assets/img/sq-left.png" alt="">
      <img class="first-section-sq-sector__right sq-sector-item" src="assets/img/sq-right.png" alt="">
    </div>
    <div class="first-section-goToService-sector">
      <div class="first-section-goToService-sector__left goToService-sector-item">
        <div class="title-box title-box-left">Комплексная <br> металлообработка</div>
        <a
          mat-list-item routerLinkActive="list-item-active"
          class="goToService-btn goToService-btn-left"
          routerLink="/services/metalworking"
        >Перейти в раздел</a>
      </div>
      <div class="first-section-goToService-sector__right goToService-sector-item">
        <div class="title-box title-box-right">Восстановление <br> инструмента</div>
        <a
          mat-list-item routerLinkActive="list-item-active"
          class="goToService-btn goToService-btn-left"
          routerLink="/services/recovery"
        >Перейти в раздел</a>
      </div>
    </div>
  </section>
  <section id="s2" class="second-section">

  </section>
</main>
