<main class="products-drill-home-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">Металлорежущие <br> конструкции и оснастка</div>
    </div>
  </div>
  <div class="breadcrumbs container">
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/"
    >главная / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item"
      routerLink="/products"
    >продукция / </a>
    <a
      mat-list-item routerLinkActive="list-item-active"
      class="breadcrumbs__item current"
      routerLink="/products/drill"
    >металлореж. </a>
  </div>
  <div class="drill-wrapper container">
    <div class="content-container container">
      <aside class="navigation-container">
        <div class="category-title">Категории</div>
        <mat-accordion>
          <mat-expansion-panel
            [id]="'category_'+category.id"
            *ngFor="let category of categoryList"
            (click)="selectCategory(category)"
            [ngClass]="{'active': category.activeClass}"
            [expanded]="category.isExpanded"
            [routerLink]="['/products/drill']"
            routerLinkActive="list-item-active"
          >

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ category.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div
              class="expansion-item sub-categories-item"
              [id]="'subcategory_'+subcategory.id"
              *ngFor="let subcategory of category.subcategories"
              [ngClass]="{'active': subcategory.activeClass}"
              [routerLink]="['/products/drill']"
              routerLinkActive="list-item-active"
              (click)="$event.stopPropagation(); selectSubCategory(subcategory, category.subcategories)">
              {{subcategory.name}}
            </div>
            <div class="sub-categories">
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </aside>
      <section class="product-wrapper">
        <div class="selected-name">{{ this.selectedCategoryNameToShow }}</div>
        <mat-spinner *ngIf="productsToShow.length <= 0"></mat-spinner>

        <section class="content-section">
          <section class="subcategory-description" [innerHTML]="descriptionInnerHtml"></section>
          <div #scrollTarget class="scroll-to-me-on-page-switch-mobile"></div>
          <section class="products-drill-container">
            <div class="products-drill" *ngFor="let product of productsToShow | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <a class="products-drill__link" target="_blank" href="{{env.serverURL + product.pdfPath}}">
                <img  class="products-drill__cover" src="{{env.serverURL + product.imgPath}}" alt="PDF">
                <div class="bot-title-box">
                  <img class="bot-title-box__img" src="assets/img/pdf-orange.png" alt="">
                  <span class="bot-title-box__text">{{product.name | slice:0: 32 }}{{product.name.length > 32 ? ' ...' : ''}}</span>
                </div>
              </a>
            </div>
          </section>
        </section>
        <div class="pagination-block">
          <ngb-pagination
            (click)="scroll(scrollTarget)"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="productsToShow.length">
          </ngb-pagination>
        </div>
      </section>
    </div>
  </div>
</main>
