@import '~quill/dist/quill.snow.css';

.mat-form-field{
  width: 752px;
}

.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  padding: 10px;
  min-height:175px;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}

.img-upload-wrapper{
  width: 50%;
}
//:host ::ng-deep .ck-editor__editable_inline {
//    min-height: 500px !important;
//}

::ng-deep .ql-tooltip{
  left: 0!important;
  white-space: normal!important;
}

::ng-deep.fr-popup.fr-active {
  z-index: 1000000!important;
}
