<section class="category-modify-wrapper">

  <mat-toolbar color="warn" class="title-mat-toolbar">
    <h1>Категории {{editFlag === false ? 'Создать' : 'Обновить'}}</h1>
  </mat-toolbar>
  <div class="form-container">
    <div class="form-field">
      <mat-radio-group [(ngModel)]="category.categoryType" aria-label="Тип">
        <mat-radio-button value="1">Масла</mat-radio-button>
        <mat-radio-button value="2">Металлореж.</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-field">
      <mat-form-field class="example-full-width">
        <mat-label>Название категории</mat-label>
        <input matInput [(ngModel)]="category.categoryName" placeholder="например: Вакуумные масла">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-slide-toggle [(ngModel)]="category.active">Активная категория</mat-slide-toggle>
    </div>
    <div class="form-field">
      <mat-label>Описание категории</mat-label>
      <ckeditor [config]="ckEditorConfig" [editor]="Editor" [(ngModel)]="category.categoryDescription"></ckeditor>
    </div>
    <button (click)="createOrEditCategory()" mat-raised-button color="warn">{{editFlag === false ? 'Создать' : 'Обновить'}}</button>
    <button (click)="back()" mat-raised-button color="primary">Назад</button>
  </div>
</section>
<br>
<section class="subCategory-modify-wrapper">
  <mat-toolbar color="primary" class="title-mat-toolbar">
    <h1>Подкатегории</h1>
  </mat-toolbar>
  <mat-toolbar class="option-mat-toolbar">
    <nav>
      <mat-form-field>
        <mat-label>Массовые функции</mat-label>
        <mat-select [(value)]="bulkAction" (selectionChange)="onBulkActionChange($event)">
          <mat-option>нет</mat-option>
          <mat-option value="activate">Активировать</mat-option>
          <mat-option value="deactivate">Деактивировать</mat-option>
          <mat-option value="delete">Удалить</mat-option>
        </mat-select>
      </mat-form-field>
    </nav>
    <nav>
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Поиск">
      </mat-form-field>
    </nav>
    <nav>
      <button (click)="openDialog('Create')" mat-mini-fab color="warn">
        <span class="material-icons">add</span>
      </button>
    </nav>
  </mat-toolbar>
</section>

