<mat-sidenav-container class="admin-sidenav-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
        <div class="link-container">
          <span class="material-icons">account_box</span>&nbsp;
          <span class="list-title">Админка</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/news">
        <div class="link-container">
          <span class="material-icons">cast</span>&nbsp;
          <span class="list-title">Новости</span>
        </div>

      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/brands">
        <div class="link-container">
          <span class="material-icons">group_add</span>&nbsp;
          <span class="list-title">Партнёры</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/catalogs">
        <div class="link-container">
          <span class="material-icons">book</span>&nbsp;
          <span class="list-title">Кататалоги</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categories">
        <div class="link-container">
          <span class="material-icons">category</span>&nbsp;
          <span class="list-title">Категории</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products-oil">
        <div class="link-container">
          <span class="material-icons">waves</span>&nbsp;
          <span class="list-title">Продукты [Масла]</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products-drill">
        <div class="link-container">
          <span class="material-icons">brightness_7</span>&nbsp;
          <span class="list-title">Продукты [Металлореж.]</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="admin-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
