<mat-sidenav-container class="admin-sidenav-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
        <div class="link-container">
          <span class="material-icons">account_box</span>&nbsp;
          <span class="list-title">Админка</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/news">
        <div class="link-container">
          <span class="material-icons">cast</span>&nbsp;
          <span class="list-title">Новости</span>
        </div>

      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/brands">
        <div class="link-container">
          <span class="material-icons">transfer_within_a_station</span>&nbsp;
          <span class="list-title">Партнёры</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/catalogs">
        <div class="link-container">
          <span class="material-icons">book</span>&nbsp;
          <span class="list-title">Кататалоги</span>
        </div>
      </a>
      <mat-tree [dataSource]="dataSourceCategory" [treeControl]="treeControlCategory">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="{{node.url}}">
            <div class="link-container">
              <span class="material-icons">{{node.icon}}</span>&nbsp;
              <span class="list-title">{{node.name}}</span>
            </div>
          </a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControlCategory.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span class="tree-name">{{node.name}}</span>
        </mat-tree-node>
      </mat-tree>
      <mat-tree [dataSource]="dataSourceProduct" [treeControl]="treeControlProduct">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="{{node.url}}">
            <div class="link-container">
              <span class="material-icons">{{node.icon}}</span>&nbsp;
              <span class="list-title">{{node.name}}</span>
            </div>
          </a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControlProduct.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span class="tree-name">{{node.name}}</span>
        </mat-tree-node>
      </mat-tree>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="admin-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
