<mat-sidenav-container class="admin-sidenav-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
        <span class="material-icons">account_box</span>
        <span class="list-title">Админка</span>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/news">
        <span class="material-icons">cast</span>
        <span class="list-title">Новости</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="admin-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


