@import "../app.global";

button{
  outline: none;
  border: none;
}

.admin-sidenav-container{
  height: 100%;

  .admin-sidenav{
    width: 250px;

    .link-container{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      //.list-title{
      //  height: 20px;
      //}
    }
  }
}

.tree-name {
  font-size: 16px;
}
