<mat-toolbar color="warn" class="title-mat-toolbar">
  <h1>Категории [Масла]</h1>
</mat-toolbar>
<mat-toolbar class="option-mat-toolbar">
  <nav>
    <mat-form-field>
      <mat-label>Массовые функции</mat-label>
      <mat-select [(value)]="bulkAction" (selectionChange)="onBulkActionChange($event)">
        <mat-option>нет</mat-option>
        <mat-option value="activate">Активировать</mat-option>
        <mat-option value="deactivate">Деактивировать</mat-option>
        <mat-option value="delete">Удалить</mat-option>
      </mat-select>
    </mat-form-field>
  </nav>
  <nav>
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Поиск">
    </mat-form-field>
  </nav>
  <nav>
    <button mat-mini-fab color="warn">
      <span class="material-icons">add</span>
    </button>
  </nav>
</mat-toolbar>
