@import "../../app.global";

.catalog-home-wrapper{
  display: flex;
  flex-direction: column;
}

.header-container{
  height: 370px;
  background: $main-color2;
  border-bottom: 10px solid $main-color1;
  margin-bottom: 40px;
  background: url("/assets/img/header-catalogs.png") no-repeat;

  .header-box {
    color: white;
    @extend %fcc;
    align-items: flex-start;
    height: 100%;

    &__title {
      font-size: 72px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 6px;
    }

    &__text {
      font-size: 14px;
      height: 150px;
    }
  }
}

.brand-container{
  min-height: 240px;
  margin-bottom: 100px;

  .brand-box {
    @extend %fsbc;
    align-items: flex-start;

    &__title {
      color: #002359;
      font-size: 40px;
      font-weight: bolder;
      text-transform: uppercase;
      margin: 50px 0 50px 0;
    }

    &__brands {
      @extend %fc;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__keeper {
      width: 250px;
      height: 100px;
      @extend %fc;
      border: 1px solid lightgrey;
      margin-bottom: 20px;
      cursor: pointer;
      transition: .2s ease-in-out;
      margin-right: 36px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:hover {
        border: 1px solid transparent;
        border-left: 10px solid $main-color1;
      }

      &:hover .brand-box__img {
        filter: grayscale(0);
      }

      &.active {
        border: 1px solid transparent;
        background: $main-color1;

        .brand-box__img {
          filter: grayscale(0);
        }
      }
    }

    &__img {
      max-width: 200px;
      max-height: 75px;
      filter: grayscale(100%);
    }
  }
}

.catalog-container{
  @extend %fcc;
  margin-bottom: 100px;

  .catalog-keeper{
    @extend %fc;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 670px;
    margin-bottom: 40px;
    width: 100%;

    .catalog-multiplier {
      border: 1px solid lightgrey;
      border-radius: 10px;
      transition: .3s ease-in-out;
      margin-right: 47px;
      margin-bottom: 47px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 0 6px 0px gray;
        border: 1px solid transparent;
      }

      &__link {
        text-decoration: none;
      }

      pdf-viewer {
        border-radius: 10px;
        display: block;
        height: 240px;
        width: 240px;
        overflow: hidden;
      }

      .bot-title-box {
        @extend %fc;
        justify-content: flex-start;
        padding: 10px 0;
        width: 240px;

        &__img {
          width: 25px;
          margin: 0 10px;
        }

        &__text {
          color: $main-color2;
          font-weight: bold;
        }
      }
    }
  }


  .pagination-block{
    width: 100%;
    @extend %fc;
    justify-content: flex-end;
  }
}





