@import "../../app.global";
.catalog-home-wrapper{
  display: flex;
  flex-direction: column;
}

.header-container{
  height: 400px;
  background: $main-color2;
  //opacity: 0.8;
  border-bottom: 10px solid $main-color1;
  margin-bottom: 40px;

  .header-box {
    color: white;
    @extend %fcc;
    align-items: flex-start;
    height: 100%;

    &__title {
      font-size: 72px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 6px;
    }

    &__text {
      font-size: 14px;
      height: 150px;
    }
  }
}

.brand-container{
  min-height: 240px;

  .brand-box {
    @extend %fsbc;
    align-items: flex-start;

    &__title {
      color: #002359;
      font-size: 40px;
      font-weight: bolder;
      text-transform: uppercase;
      margin: 50px 0 50px 0;
    }

    &__brands {
      @extend %fsb;
      flex-wrap: wrap;
    }

    &__keeper {
      width: 250px;
      height: 100px;
      @extend %fc;
      border: 1px solid lightgrey;
      margin-bottom: 20px;
      cursor: pointer;
      transition: .2s ease-in-out;

      &:hover {
        border: 1px solid transparent;
        border-left: 10px solid $main-color1;
        //transform: scale(1.1);
      }

      &:hover .brand-box__img {
        filter: grayscale(0);
      }

      &.active {
        border: 1px solid transparent;
        background: rgba(255, 94, 21, 0.9);

        .brand-box__img {
          filter: grayscale(0);
        }
      }
    }

    &__img {
      max-width: 200px;
      max-height: 75px;
      filter: grayscale(100%);
    }
  }
}

.catalog-container{
  @extend %fsb;
  min-height: 400px;

  .catalog-child{

    &__link {
      cursor: pointer;
      @extend %fcc;

    }

    &__img {
      width: 100px;
    }

    &__text {
      color:$main-color2;
    }
  }
}

pdf-viewer {
  display: block;
  height: 240px;
  width: 240px;
  overflow: hidden;
}



