<main class="catalog-home-wrapper">
  <div class="header-container">
    <div class="header-box container">
      <div class="header-box__title">бренды</div>
    </div>
  </div>
  <div class="brand-container">
    <div class="brand-box container">
      <mat-spinner *ngIf="brandList.length <= 0"></mat-spinner>
      <div *ngIf="brandList.length > 0" class="brand-box__title"> Выберите производителя</div>
      <div class="brand-box__brands">
        <div class="brand-box__keeper" [ngClass]="{'active': brand.activeBrand}" *ngFor="let brand of brandList" (click)="selectBrand(brand)">

          <a
             mat-list-item routerLinkActive="list-item-active"
             [routerLink]="brand.slug">
            <img class="brand-box__img" [src]="env.serverURL+brand.imgPath" [alt]="brand.name">
          </a>
        </div>
      </div>
    </div>
  </div>
</main>


