<footer *transloco="let t">
  <section class="footer-up container">
    <div class="footer-up__item brands">
      <h3 routerLink="/catalogs" class="title clickable">{{ t('layout.footer.brands') }}</h3>
      <div class="brands-link-wrapper">
        <a *ngFor="let brand of brandList" class="text" [routerLink]="'/catalogs/'+ brand.slug">{{brand.name}}</a>
      </div>
    </div>
    <div class="footer-up__item services">
      <h3 routerLink="/services" class="title clickable">{{ t('layout.header.services') }}</h3>
      <a class="text" routerLink="/services/metalworking">{{ t('layout.footer.complex_metalworking') }}</a>
      <a class="text" routerLink="/services/recovery">{{ t('layout.footer.tool_restoration') }}</a>
    </div>
    <div class="footer-up__item">
      <h3 class="title">{{ t('layout.footer.contacts') }}</h3>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-01.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          {{ t('layout.footer.address') }}
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-03.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item__small-text text">
          {{ t('layout.footer.phones') }}
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-02.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          info@aegis.by
        </div>
      </div>
    </div>
    <div class="footer-up__item contact-us">
      <h3 class="title">{{ t('layout.footer.contact_us') }}</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          [(ngModel)]="email"
          placeholder="{{ t('layout.footer.for_example') }}, boss@site.com"
          color="warn">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          {{ t('layout.footer.correct_email_notification') }}
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          {{ t('layout.footer.email_is_required_notification') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{ t('layout.footer.question') }}</mat-label>
        <textarea matInput [(ngModel)]="text" placeholder=""></textarea>
      </mat-form-field>
      <button class="send-btn" mat-raised-button [disabled]="blockFormButton()" (click)="sendMessageToTelegram()" color="warn">
        <mat-label>{{ t('layout.footer.send') }}</mat-label>
      </button>
    </div>
  </section>
  <section class="fronter-down-wrapper">
    <section class="footer-down container">

      <div class="footer-down__logo">
        <a href="#"><img src="assets/img/AEGIS_logo_white_en.png" alt=""></a>
      </div>
      <div class="footer-down__copyright">
        <span>© Copyright Aegis.by</span>
        <span>
          <mat-label>{{ t('layout.footer.developed_by') }}</mat-label>
          <a target="_blank" href="https://www.linkedin.com/in/nikita-melnikov-a71a06b8/">nkmelnikov</a></span>
      </div>
      <div class="footer-down__social">
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="https://www.linkedin.com/company/aegis-pe" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </section>
  </section>
</footer>
