<footer>
  <section class="footer-up container">
    <div class="footer-up__item products">
      <h3 class="title">Продукты</h3>
      <a target="_blank" class="text" href="#">Металлорежущие инструменты и оснастки</a>
      <a target="_blank" class="text" href="#">Смазочные материалы</a>
    </div>
    <div class="footer-up__item services">
      <h3 class="title">Услуги</h3>
      <a target="_blank" class="text" href="#">Металлорежущие инструменты и оснастки</a>
      <a target="_blank" class="text" href="#">Смазочные материалы</a>
    </div>
    <div class="footer-up__item">
      <h3 class="title">Контакты</h3>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-01.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          212030, пер. Пожарный, д.3, г. Могилёв, <br>Республика Беларусь
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-03.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item__small-text text">
          + (375) 222 65-92-02 <br>
          + (375) 222 40-40-40
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-02.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          info@aegis.by
        </div>
      </div>
    </div>
    <div class="footer-up__item contact-us">
      <h3 class="title">Напишите нам</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Pizza" color="warn">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Вопрос</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      <button mat-raised-button color="warn">Отправить</button>
    </div>
  </section>
  <section class="fronter-down-wrapper">
    <section class="footer-down container">

      <div class="footer-down__logo">
        <a href="#"><img src="assets/img/AEGIS_logo_white_en.png" alt=""></a>
      </div>
      <div class="footer-down__copyright">
        <span>© Copyright Aegis.by</span>
        <span>сайт разработан: <a target="_blank" href="https://melnikovshop.online">melnikovshop.online</a></span>
      </div>
      <div class="footer-down__social">
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-vk"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">

            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </section>
  </section>
</footer>
