<footer>
  <section class="footer-up container">
    <div class="footer-up__item">
      <h3 class="title">Работай с Аегис</h3>
      <div class="text text1">
        По Вашему запросу мы оперативно сообщим любую
        дополнительную информацию и вышлем коммерческое
        предложение на интересующие Вас позиции продукции.
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-04.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          Monday-Friday: 9am to 5pm; <br>
          Satuday: 10ap to 2pm
        </div>
      </div>
    </div>
    <div class="footer-up__item services">
      <h3 class="title">Наши услуги</h3>
      <a target="_blank" class="text" href="#">Продажа металлорежущего инструмента и оснастки</a>
      <a target="_blank" class="text" href="#">Продажа высококачественных смазочных материалов</a>
    </div>
    <div class="footer-up__item">
      <h3 class="title">Офис в Могилёве</h3>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-01.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          7300-7398 Colonial Rd, Brooklyn, <br> NY 11209, USA
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-03.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item__small-text text">
          + (123) 1234-567-8900 <br>
          + (123) 1234-567-8901
        </div>
      </div>
      <div class="footer-up__item_info-item">
        <div class="footer-up__item_small-img">
          <img src="assets/img/footer-icon-img-02.png" alt="icon_widget_image">
        </div>
        <div class="footer-up__item_small-text text">
          mail@aegis.by <br>
          mail2@aegis.by
        </div>
      </div>
    </div>
    <div class="footer-up__item contact-us">
      <h3 class="title">Напишите нам</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Pizza" color="warn">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Вопрос</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      <button mat-raised-button color="warn">Отправить</button>
    </div>
  </section>
  <section class="fronter-down-wrapper">
    <section class="footer-down container">

      <div class="footer-down__logo">
        <a href="#"><img src="assets/img/AEGIS_logo_white_en.png" alt=""></a>
      </div>
      <div class="footer-down__copyright">
        <span>© Copyright Aegis.by</span>
        <span>сайт разработан: <a target="_blank" href="https://melnikovshop.online">melnikovshop.online</a></span>
      </div>
      <div class="footer-down__social">
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-vk"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">

            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </section>
  </section>
</footer>
