<section class="side-bar">
  <div class="cross-box" (click)="toggleActive()">
    <div class="cross-square">
      <span class="line line-crossed-left"></span>
      <span class="line line-crossed-right"></span>
    </div>
  </div>
  <div class="info-box side-mobile">
    <div class="link-container">
      <nav class="item item1 item-main">
        <a mat-list-item (click)="toggleActive()" routerLink="/">Главная</a>
      </nav>
      <nav class="item item2 item-products">
        <a mat-list-item (click)="toggleActive()" routerLink="/products">Продукция</a>
      </nav>
      <nav class="item item3 item-catalogs">
        <a mat-list-item (click)="toggleActive()" routerLink="/catalogs">Брэнды и Каталоги</a>
      </nav>
      <nav class="item item4 item-news">
        <a mat-list-item (click)="toggleActive()" routerLink="/news">Новости</a>
      </nav>
      <nav class="item item5 item-about">
        <a mat-list-item (click)="toggleActive()" routerLink="/about">О нас</a>
      </nav>
    </div>
    <div class="info-box__social">
      <div class="social-network">
        <a href="#" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="social-network">
        <a href="#" target="_blank">

          <i class="fab fa-telegram-plane"></i>
        </a>
      </div>
      <div class="social-network">
        <a href="#" target="_blank">
          <i class="fab fa-vk"></i>
        </a>
      </div>
      <div class="social-network">
        <a href="#" target="_blank">

          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</section>

