<section class="side-bar">
    <div class="cross-box" (click)="toggleActive()">
      <div class="cross-square">
        <span class="line line-crossed-left"></span>
        <span class="line line-crossed-right"></span>
      </div>
    </div>
    <div class="info-box">
      <h3 class="info-box__head">Компания ЧТУП «АЕГИС»</h3>
      <p class="info-box__description">
        Рада представить широчайший ассортимент промышленных товаров и услуг,
        включающих металлорежущий и вспомогательный инструмент, станочную оснастку,
        смазочно-охлаждающие жидкости (СОЖ), а также комплексные мероприятия по
        технической поддержке всего ассортимента продукции.
      </p>
      <div class="info-box__item">
        <div class="info-box__small-img">
          <img src="assets/img/footer-icon-img-04.png" alt="icon_widget_image">
        </div>
        <div class="info-box__small-text">
          Monday-Friday: 9am to 5pm; <br>
          Satuday: 10ap to 2pm
        </div>
      </div>
      <div class="info-box__item">
        <div class="info-box__small-img">
          <img src="assets/img/footer-icon-img-01.png" alt="icon_widget_image">
        </div>
        <div class="info-box__small-text">
          7300-7398 Colonial Rd, Brooklyn, <br>
          NY 11209, USA
        </div>
      </div>
      <div class="info-box__item">
        <div class="info-box__small-img">
          <img src="assets/img/footer-icon-img-03.png" alt="icon_widget_image">
        </div>
        <div class="info-box__small-text">
          + (123) 1234-567-8900 <br>
          + (123) 1234-567-8901
        </div>

      </div>
      <div class="info-box__item">
        <div class="info-box__small-img">
          <img src="assets/img/footer-icon-img-02.png" alt="icon_widget_image">
        </div>
        <div class="info-box__small-text">
          mail@aegis.by <br>
          mail2@aegis.by
        </div>
      </div>

      <div class="info-box__social">
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">

            <i class="fab fa-telegram-plane"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">
            <i class="fab fa-vk"></i>
          </a>
        </div>
        <div class="social-network">
          <a href="#" target="_blank">

            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
