<section class="side-bar">
  <div class="cross-box" (click)="toggleActive()">
    <div class="cross-square">
      <span class="line line-crossed-left"></span>
      <span class="line line-crossed-right"></span>
    </div>
  </div>
  <div class="link-box">
    <nav class="item item1 item-main">
      <a mat-list-item (click)="toggleActive()" routerLink="/">Главная</a>
    </nav>
    <nav class="item item2 item-products">
      <a mat-list-item (click)="toggleActive()" routerLink="/products">Продукция</a>
    </nav>
    <nav class="item item3 item-products">
      <a mat-list-item (click)="toggleActive()" routerLink="/services">Услуги</a>
    </nav>
    <nav class="item item4 item-catalogs">
      <a mat-list-item (click)="toggleActive()" routerLink="/catalogs">Брэнды и Каталоги</a>
    </nav>
<!--    <nav class="item item5 item-news">-->
<!--      <a mat-list-item (click)="toggleActive()" routerLink="/news">Новости</a>-->
<!--    </nav>-->
    <nav class="item item6 item-about">
      <a mat-list-item (click)="toggleActive()" routerLink="/about">О нас</a>
    </nav>
  </div>
  <div class="info-box">
    <h3 class="info-box__head">Компания ЧТУП «АЕГИС»</h3>
    <div class="info-box__item">
      <div class="info-box__small-img">
        <img src="assets/img/footer-icon-img-04.png" alt="icon_widget_image">
      </div>
      <div class="info-box__small-text">
        Monday-Friday: 9am to 5pm; <br>
        Satuday: 10ap to 2pm
      </div>
    </div>
    <div class="info-box__item">
      <div class="info-box__small-img">
        <img src="assets/img/footer-icon-img-01.png" alt="icon_widget_image">
      </div>
      <div class="info-box__small-text">
        7300-7398 Colonial Rd, Brooklyn, <br>
        NY 11209, USA
      </div>
    </div>
    <div class="info-box__item">
      <div class="info-box__small-img">
        <img src="assets/img/footer-icon-img-03.png" alt="icon_widget_image">
      </div>
      <div class="info-box__small-text">
        + (123) 1234-567-8900 <br>
        + (123) 1234-567-8901
      </div>

    </div>
    <div class="info-box__item">
      <div class="info-box__small-img">
        <img src="assets/img/footer-icon-img-02.png" alt="icon_widget_image">
      </div>
      <div class="info-box__small-text">
        mail@aegis.by <br>
        mail2@aegis.by
      </div>
    </div>

    <div class="info-box__social">
      <div class="social-network">
        <a href="#" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="social-network">
        <a href="#" target="_blank">
          <i class="fab fa-telegram-plane"></i>
        </a>
      </div>
    </div>
  </div>
</section>

