<!--<div class="spinner" *ngIf="!dataSource; else elseBlock">-->
<!--  &lt;!&ndash;  <mat-spinner></mat-spinner>&ndash;&gt;-->
<!--  &lt;!&ndash;  Загрзука новостей...&ndash;&gt;-->
<!--</div>-->
  <mat-toolbar color="primary">
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Поиск">
    </mat-form-field>
  </mat-toolbar>

  <mat-table
    class="mat-elevation-z8"
    cdkDropList
    matSort
    matSortActive="position" matSortDirection="asc"
    #table
    [dataSource]="dataSource"
    [cdkDropListData]="dataSource.data"
    (cdkDropListDropped)="drop($event)"
  >

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell mat-sort-header *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Активная?</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{(element.active === 1) ? 'Да' : 'Нет'}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="postImgPath">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Обложка</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.postImgPath}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="postTitle">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Заголовок</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.postTitle}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="postShortText">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Короткий текст</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.postShortText}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="postArticle">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Полный текст</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.postArticle}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Дата создания</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             cdkDrag
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
