<main class="main-wrapper">
  <section id="s1" class="first-section">
    <div class="video-container">
          <video id="video-drill" width="120%" height="100%" autoplay loop muted>
            <source src="assets/videos/drill.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      <div class="text-container">
        <span class="text">
            МЕТАЛЛОРЕЖУЩИЙ <br> ИНСТРУМЕНТ И ОСНАСТКА
        </span>
        <a
          mat-raised-button routerLinkActive="list-item-active"
          class="goToProduct-btn"
          routerLink="/products/drill"
        >Перейти в раздел</a>
      </div>
    </div>
    <div class="video-container">
      <video id="video-oil" width="120%" height="100%" autoplay loop muted>
        <source src="assets/videos/oil.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text-container">
        <span class="text">
          СМАЗОЧНЫЕ <br> МАТЕРИАЛЫ
        </span>
        <a
          mat-raised-button routerLinkActive="list-item-active"
          class="goToProduct-btn"
          routerLink="/products/oil"
        >Перейти в раздел</a>
      </div>
    </div>
  </section>
  <section id="s1-mobile" class="first-section-mobile">
    <div class="first-section-mobile__box products">
      <div class="first-section-mobile__item left section-drill">
        <a routerLink="/products/drill">
          Металлорежущий инструмент и оснастка
        </a>
      </div>
      <div class="first-section-mobile__item right section-oil">
        <a routerLink="/products/oil">
          Смазочные материалы
        </a>
      </div>
    </div>
    <div class="first-section-mobile__box services">
      <div class="first-section-mobile__item left section-drill">
        <a routerLink="/products/drill">
          TODO 768px videos
          Металлорежущий инструмент и оснастка
        </a>
      </div>
      <div class="first-section-mobile__item right section-oil">
        <a routerLink="/products/oil">
          Смазочные материалы
        </a>
      </div>
    </div>
  </section>
  <section id="s2" class="second-section">
    <div class="second-section__advantages adv-section_js container">
      <div class="second-section__advantages-item text-item">
        <div class="title">Преимущества <br> нашей компании</div>
        <div class="line"></div>
        <div class="text">Мы сотрудничаем с крупнейшими производственными компания по всему миру</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ clients }}</div>
        <div class="line"></div>
        <div class="text">Клиентов</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ yearsOrMarket }}</div>
        <div class="line"></div>
        <div class="text">Лет <br> на рынке</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ developers }}</div>
        <div class="line"></div>
        <div class="text">Лучших <br> производителей</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ countries }}</div>
        <div class="line"></div>
        <div class="text">Стран <br> отгрузки</div>
      </div>
    </div>
    <div class="second-section__partner container">
      <img src="assets/img/back0.png" alt="">
      <div class="second-section__partner-info">
        <div class="title">
          Ваш надёжный <br> партнёр и поставщик
        </div>
        <div class="line"></div>
        <div class="text">
          Мы работаем с высококачественными материалами
          и предоставляем отличный сервис, потому что
          считаем, что это единственный способ работать
          хорошо. Мы каждый день тестируем наши продукты
          с клиентами, каждый день в постоянном процессе
          разработки, где единственные вещи, которые
          считаются важными - это факты, цифры и отчеты.
          Мы используем нашу гибкость, потому что это
          позволяет нам сосредоточиться на деталях и
          предлагать своим клиентам индивидуальные решения.
        </div>
        <a class="btn" routerLink="/about" href="#">Подробнее</a>
      </div>
    </div>
  </section>
  <section id="s3" class="third-section">
    <div class="third-section__1 proofs-section_js container">
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/sign.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">официальные</div>
        <div class="big-title">гарантии качества</div>
        <div class="medium-title">Поставляемой нами <br> продукции</div>
        <div class="text">
          Наша компания гаратирует замену любой
          некачественной продукции и предоставляет
          полную гарантию качества.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/hands.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">официальный</div>
        <div class="big-title">представитель</div>
        <div class="medium-title">компаний-производителей с мировым именем</div>
        <div class="text">
          Мы являемся официальным представителем нескольких
          крупнейших мировых производственных компаний.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/money.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">удобная и гибкая</div>
        <div class="big-title">система оплаты</div>
        <div class="medium-title">мы найдем индивидуальный подход к каждому клиенту</div>
        <div class="text">
          Наша компания предоставляет гибкие условия оплаты.
          Свяжитесь с нами и мы найдём удобное решение.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/car.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">быстрая</div>
        <div class="big-title">доставка до места</div>
        <div class="medium-title">в течении самых коротких сроков из возможных</div>
        <div class="text">
          Мы доставим продукцию в кротчайшие сроки,
          максимально удобным для Вас способом.
        </div>
      </div>
    </div>
    <div class="third-section__2 quality-section_js container">
      <div class="third-section__2_info quality-section-left_js">
        <div class="title">Оцените <br> качество нашей <br> продукции</div>
        <div class="line"></div>
        <div class="text">
          Уверенность в качестве является для нас
          одним из главных приоритетов в работе с вами!
          Под этим девизом мы понимаем: качественную
          и стабильную продукцию, своевременно оказанные
          услуги и грамотную техническую поддержку,
          таким образом: надежность в
          качестве — надежность во всем!
          Мы используем передовые технологии как
          в области подбора продукции, так и в области коммуникаций,
          логистики и технической поддержки.
        </div>
        <a class="btn" routerLink="/products" href="">Подробнее</a>
      </div>
      <div class="third-section__2_img quality-section-right_js">
        <img src="assets/img/drill2.png" alt="">
        <img src="assets/img/drill1.png" alt="">
      </div>
    </div>
  </section>
  <section id="s4" class="fourth-section">
    <div class="fourth-section-wrapper container">
      <div class="outer-title">
        Наши партнеры
      </div>
      <div class="brands-wrapper">
        <owl-carousel-o class="brand-carousel container" [options]="carouselBrandsOptions">
          <ng-template class="brands-wrapper__carousel-item" *ngFor="let brand of brands" carouselSlide [id]="brand.id">
            <div class="brands-wrapper__img-container">
              <img class="brands-wrapper__img" [ngClass]="{'bison': brand.slug === 'bison'}" [src]="brand.imgPath">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
  <section id="s5" class="fifth-section">
    <owl-carousel-o class="container" [options]="carouselNewsOptions">
      <ng-template *ngFor="let post of news" carouselSlide [id]="post.id">
        <div class="news-wrapper">
          <div class="img-container">
            <img [src]="post.imgPath" alt="">
          </div>
          <div class="date">{{post.created_at | date:'dd/MM/yyyy'}}</div>
          <div class="title">{{ post.title }}</div>
          <div class="line line1"></div>
          <div class="short-text">
            {{ post.shortText }}
          </div>
          <div class="lower-box">
            <div class="line line2"></div>
            <button class="btn">читать далее</button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
  <section id="s7" class="seventh-section map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.9350210119874!2d30.26349041616125!3d53.87958314233598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d05106d49b1015%3A0x7f74216b90f0d0ec!2zxIxhbGl1c2tpbmNhxa0gU3QgMTcyLCBNYWhpbGlvxa0sIEJlbGFydXM!5e0!3m2!1sen!2sru!4v1600501276450!5m2!1sen!2sru" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </section>
</main>
