<main class="main-wrapper">
  <section id="s1" class="first-section">
    <div class="first-section-left-sector"></div>
    <div class="first-section-right-sector"></div>
    <div class="first-section-sq-sector">
      <img class="first-section-sq-sector__left sq-sector-item" src="assets/img/sq-left.png" alt="">
      <img class="first-section-sq-sector__right sq-sector-item" src="assets/img/sq-right.png" alt="">
    </div>
    <div class="first-section-goToProduct-sector">
      <div class="first-section-goToProduct-sector__left goToProduct-sector-item">
        <div class="title-box title-box-left">Продажа <br>металлорежущего инструмента и оснастки</div>
        <a class="goToProduct-btn goToProduct-btn-left" href="">Перейти в раздел</a>
      </div>
      <div class="first-section-goToProduct-sector__right goToProduct-sector-item">
        <div class="title-box title-box-right">Продажа <br> высококачественных смазочных материалов</div>
        <a class="goToProduct-btn goToProduct-btn-right" href="">Перейти в раздел</a>
      </div>
    </div>
  </section>
  <section id="s2" class="second-section">
    <div class="second-section__advantages adv-section_js container">
      <div class="second-section__advantages-item text-item">
        <div class="title">Преимущества <br> нашей компании</div>
        <div class="line"></div>
        <div class="text">Мы сотрудничаем с крупнейшими производственными компания по всей Беларуси и Европе</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ clients }}</div>
        <div class="line"></div>
        <div class="text">Клиента</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ yearsOrMarket }}</div>
        <div class="line"></div>
        <div class="text">Лет <br> на рынке</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ developers }}</div>
        <div class="line"></div>
        <div class="text">Луших <br> производителей</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">{{ countries }}</div>
        <div class="line"></div>
        <div class="text">Страны <br> отгрузки</div>
      </div>
    </div>
    <div class="second-section__partner container">
      <img src="assets/img/back0.png" alt="">
      <div class="second-section__partner-info">
        <div class="title">
          Ваш надёжный <br> партнёр и поставщик
        </div>
        <div class="line"></div>
        <div class="text">
          Мы работаем с высококачественными материалами
          и предоставляем отличный сервис, потому что
          считаем, что это единственный способ работать
          хорошо. Мы каждый день тестируем наши продукты
          с клиентами, каждый день в постоянном процессе
          разработки, где единственные вещи, которые
          считаются важными - это факты, цифры и отчеты.
          Мы используем нашу гибкость, потому что это
          позволяет нам сосредоточиться на деталях и
          предлагать своим клиентам индивидуальные решения.
        </div>
        <a class="btn" href="#">Подробнее</a>
      </div>
    </div>
  </section>
  <section id="s3" class="third-section">
    <div class="third-section__1 proofs-section_js container">
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/sign.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">официальные</div>
        <div class="big-title">гарантии качества</div>
        <div class="medium-title">Поставляемой нами <br> продукции</div>
        <div class="text">
          Наша компания гаратирует замену любой
          некачественной продукции и предоставляет
          полную гарантию качества.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/hands.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">официальный</div>
        <div class="big-title">представитель</div>
        <div class="medium-title">компаний-производителей с мировым именем</div>
        <div class="text">
          Мы являемся официальным представителем нескольких
          крупнейших мировых производственных компаний.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/money.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">удобная и гибкая</div>
        <div class="big-title">система оплаты</div>
        <div class="medium-title">мы найдем индивидуальный подход к каждому клиенту</div>
        <div class="text">
          Наша компания предоставляет гибкие условия оплаты.
          Свяжитесь с нами и мы найдём удобное решение.
        </div>
      </div>
      <div class="third-section__1_item proof-item_js">
        <div class="img-container">
          <img src="assets/img/car.png" alt="">
        </div>
        <div class="line"></div>
        <div class="small-title">быстрая</div>
        <div class="big-title">доставка до места</div>
        <div class="medium-title">в течении самых коротких сроков из возможных</div>
        <div class="text">
          Мы доставим продукцию в кротчайшие сроки,
          максимально удобным для Вас способом.
        </div>
      </div>
    </div>
    <div class="third-section__2 quality-section_js container">
      <div class="third-section__2_info quality-section-left_js">
        <div class="title">Оцените <br> качество нашей <br> продукции</div>
        <div class="line"></div>
        <div class="text">
          Уверенность в качестве является для нас
          одним из главных приоритетов в работе с вами!
          Под этим девизом мы понимаем: качественную
          и стабильную продукцию, своевременно оказанные
          услуги и грамотную техническую поддержку,
          таким образом: надежность в
          качестве — надежность во всем!
          Мы используем передовые технологии как
          в области подбора продукции, так и в области коммуникаций,
          логистики и технической поддержки.
        </div>
        <a class="btn" href="">Подробнее</a>
      </div>
      <div class="third-section__2_img quality-section-right_js">
        <img src="assets/img/drill2.png" alt="">
        <img src="assets/img/drill1.png" alt="">
      </div>
    </div>
  </section>
  <section id="s4" class="fourth-section">
    <div class="fourth-section-wrapper container">
      <div class="outer-title">
        Наши партнеры
      </div>
      <div class="brands-wrapper">
        <div *ngFor="let brand of brands" class="logo-container">
          <img [src]="brand.brandImgPath">
        </div>
      </div>
    </div>
  </section>
  <section id="s5" class="fifth-section">
    <owl-carousel-o class="container" [options]="carouselOptions">
      <ng-template *ngFor="let post of news" carouselSlide [id]="post.id">
        <div class="news-wrapper">
          <div class="img-container">
            <img [src]="post.postImgPath" alt="">
          </div>
          <div class="date">{{post.createdAt | date:'dd/MM/yyyy'}}</div>
          <div class="title">{{ post.postTitle }}</div>
          <div class="line line1"></div>
          <div class="short-text">
            {{ post.postShortText }}
          </div>
          <div class="lower-box">
            <div class="line line2"></div>
            <button class="btn">читать далее</button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
<!--  <section id="s6" class="sixth-section">-->
<!--    <div class="sixth-section-wrapper container">-->
<!--      <div class="sixth-section__left">-->
<!--        <div class="title">aegis это надежность <br> качеcтво и гарантии</div>-->
<!--        <div class="line"></div>-->
<!--        <div class="text1">-->
<!--          В лице нашей компании вы получите надежного, стратегического <br>-->
<!--          партнера в сфере мателлорежущего инструмента и оснастки. <br>-->
<!--          Пунктуального поставщика и гарантии официального диллера.-->
<!--        </div>-->
<!--        <div class="line"></div>-->
<!--        <div class="text2">-->
<!--          оставьте ваши данные и наши менеджеры <br>-->
<!--          свяжутся с вами в ближайшее время-->
<!--        </div>-->
<!--        <form class="form6s" action="">-->
<!--          <div class="input-container">-->
<!--            <input type="text" placeholder="Ваш номер телефона">-->
<!--            <input type="text" placeholder="Ваш Email:">-->
<!--          </div>-->
<!--          <button mat-button type="submit">Оставить заявку</button>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="sixth-section__right">-->
<!--        <img src="assets/img/multi-aegis.png" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section id="s7" class="seventh-section map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.835436129192!2d30.333499816161872!3d53.899128840861906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d051e58a920a35%3A0x5da13ca5548d1345!2sPozharnyy%20Pereulok%208%2C%20Mahilio%C5%AD%2C%20Belarus!5e0!3m2!1sen!2sru!4v1586619252985!5m2!1sen!2sru" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </section>
  <!--  <button (click)="logout()"></button>-->
</main>
