@import "../../app.global";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.main-wrapper {
  background: $main-color2;

  .first-section {
    height: calc(100vh - 140px);
    display: flex;
    position: relative;
    overflow: hidden;

    .video-container {
      height: 100%;
      width: 60vw;
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      transform: skew(10deg);
      @extend %fc;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('/assets/img/video-back.png') repeat;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      &:hover {

        &:after {
          background: none;
        }
      }

      .text-container {
        transform: skew(-10deg);
        position: absolute;
        @extend %fcc;


        z-index: 2;

        .text {
          display: block;
          color: white;
          text-transform: uppercase;
          border: 1px solid #1d263f;
          background-color: rgba(0, 35, 89, 0.8);
          font-size: 30px;
          font-weight: bolder;
          padding: 15px 20px;
          margin-bottom: 20px;
          text-align: center;

        }

        .goToProduct-btn {
          background: $main-color1;
          color: white;
          text-decoration: none;
          padding: 10px 15px;
          border-radius: 3px;
          font-weight: bolder;
          font-size: 18px;

          &:hover {
            background: $main-color2;
          }
        }
      }

      video {
        position: relative;
        transform: skew(-10deg);
        object-fit: fill;
      }

      &:first-child {
        left: -10vw;
        //justify-content: flex-end;

        .text-container {
          align-items: flex-end;
          right: 150px;

          .text {
            text-align: left;
          }
        }

        video {

        }
      }

      &:last-child {
        right: -10vw;
        //justify-content: flex-start;

        .text-container {
          align-items: flex-start;
          left: 150px;

          .text {
            text-align: right;
          }
        }

        video {
          right: 10vw;
        }
      }
    }
  }

  .second-section {
    margin: 30px 0;
    border-top: 10px solid $main-color1;
    border-bottom: 10px solid $main-color1;
    background: $main-color2;

    &__advantages {
      margin-top: 150px;
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;

        .title {
          color: white;
          font-size: 96px;
          line-height: 90px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        .line {
          width: 50px;
          border-top: 7px solid $main-color1;
          margin-bottom: 30px;
        }

        .text {
          text-transform: uppercase;
          text-align: center;
          color: white;
        }

        &.text-item {
          width: 350px;
          align-items: flex-start;

          .title {
            color: white;
            font-size: 36px;
            line-height: 45px;

          }

          .line {
            width: 100px;
          }

          .text {
            text-align: left;
          }
        }
      }
    }

    &__partner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 423px;
      margin-bottom: 150px;

      &-info {
        width: 46%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .title {
          color: white;
          font-size: 32px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .line {
          border-top: 7px solid $main-color1;
          width: 80px;
          margin-bottom: 20px;
        }

        .text {
          color: white;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        .btn {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: $main-color3;
          }
        }
      }
    }
  }

  .third-section {
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 200px;


    .third-section__1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 150px;

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 260px;
        opacity: 0;

        .img-container {
          margin-bottom: 40px;
          height: 70px
        }

        .line {
          border-top: 7px solid $main-color1;
          width: 75px;
          margin-bottom: 30px;
        }

        .small-title, .medium-title {
          text-transform: uppercase;
          font-size: 16px;
          color: #525253;
          margin-bottom: 10px;
        }

        .big-title {
          color: $main-color2;
          font-size: 22px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .medium-title {
          text-align: center;
          margin-bottom: 20px;
        }

        .text {
          text-align: center;
          color: #525253;
        }
      }
    }

    .third-section__2 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 150px;


      &_info {
        width: 48%;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        opacity: 0;

        .title {
          font-size: 40px;
          color: $main-color2;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .line {
          width: 72px;
          border-top: 7px solid $main-color1;
        }

        .text {
          color: #525253;
          line-height: 25px;
          font-size: 16px;
          padding: 20px 0;
          height: 260px;
        }

        .btn {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: $main-color2;
          }
        }
      }

      &_img {
        width: 48%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;

        img {
          border: 5px solid $main-color1;
          width: 250px;
        }
      }

    }

  }

  .fourth-section {
    min-height: 200px;
    border-top: 10px solid $main-color1;
    border-bottom: 10px solid $main-color1;
    position: relative;
    background: white;

    &-wrapper {
      margin-bottom: 50px;
      height: 100%;
      overflow: hidden;

      .brands-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      .outer-title {
        color: #002359;
        font-size: 40px;
        font-weight: bolder;
        text-transform: uppercase;
        margin: 50px 0 20px 0;
      }

      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 277.5px;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .fifth-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .news-wrapper {
      color: white;
      margin: 100px 0;
      width: 325px;

      .img-container {

        height: 200px;

        img {
          margin-bottom: 20px;
          width: 100%;
          height: auto;
        }
      }


      .line {
        border-top: 7px solid $main-color1;
        width: 75px;
        margin-bottom: 20px;
      }

      .date {
        color: $main-color5;
        margin-bottom: 20px;
      }

      .title {
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 20px;
        height: 36px;
      }

      .short-text {
        margin-bottom: 20px;
        height: 320px;
      }

      .lower-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
          text-decoration: none;
          text-transform: uppercase;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;
          border: none;

          &:hover {
            background: $main-color3;
          }
        }
      }

    }
  }

  .sixth-section {
    height: 600px;
    width: 100%;
    background: url("/assets/img/back1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 566px;
      border-top: 7px solid $main-color1;
      border-bottom: 7px solid $main-color1;
      z-index: 1;

    }

    .sixth-section-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sixth-section__left {
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        font-size: 36px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      .line {
        border-top: 7px solid $main-color1;
        width: 75px;
        margin-bottom: 25px;
      }

      .text1 {
        margin-bottom: 25px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bolder;
      }

      .text2 {
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 25px;
      }

      .form6s {
        z-index: 2;

        .input-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;

          input {
            width: 220px;
            height: 35px;
            padding-left: 15px;
            outline: none;
            border: 2px solid transparent;

            &:focus {
              border: 2px solid $main-color1;
            }


            &::placeholder {
              color: $main-color3;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }

        button {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 5px 25px;
          border-radius: 3px;
          cursor: pointer;
          border: none;

          &:hover {
            background: $main-color3;
          }
        }
      }
    }

    .sixth-section__right {

    }
  }

  .seventh-section {
    background: $main-color3;
  }
}

@keyframes sq-from-left {
  100% {
    transform: translate3d(308px, 0, 0);
  }
}

@keyframes sq-from-right {

  100% {
    transform: translate3d(-308px, 0, 0);
  }
}

.fadeInFromTop {
  animation: fadeInFromTop .8s forwards;
}

.fadeInFromLeft {
  animation: fadeInFromLeft .9s forwards;
  animation-delay: .8s;
}

.fadeInFromRight {
  animation: fadeInFromRight .9s forwards;
  animation-delay: .8s;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

