<h1 mat-dialog-title><strong>{{actionTranslateMapping(action)}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <p>
      <mat-form-field class="formFieldWidth752">
        <mat-label>Заголовок</mat-label>
        <input matInput [(ngModel)]="localData.name" width="100%" placeholder="например, Масло">
      </mat-form-field>
    </p>
    <p>
      <mat-select placeholder="Партнёр" [(ngModel)]="selectedValueBrand" (selectionChange)="brandSelectChange($event.value)">
        <mat-option *ngFor="let brand of localData.brandList" [value]="brand.id">
          {{ brand.name }}
        </mat-option>
      </mat-select>
    </p>
    <br>
    <p>
      <mat-select placeholder="Категория" [(ngModel)]="selectedValueCategory" (selectionChange)="categorySelectChange($event.value)">
        <mat-option *ngFor="let category of localData.categoryList" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </p>
    <br>
    <p *ngIf="localData.category_id">
      <mat-select placeholder="Подкатегория" [(ngModel)]="selectedValueSubCategory" (selectionChange)="subcategorySelectChange($event.value)">
        <mat-option *ngFor="let subcategory of localData.subcategoryList" [value]="subcategory.id">
          {{ subcategory.name }}
        </mat-option>
      </mat-select>
    </p>
    <p>
      <mat-label>Описание продукта</mat-label>
      <ckeditor [config]="ckEditorConfig" [editor]="Editor" [(ngModel)]="localData.description"></ckeditor>
    </p>
    <p>
      <mat-progress-bar *ngIf="localData.pdfName == undefined && localData.formData_pdfPath != undefined" mode="indeterminate"></mat-progress-bar>
      <input #pdfInput hidden="true" type="file" onclick="this.value=null" (change)="pdfInputChange($event, 'pdfPath', 'pdfName')" accept=".pdf"/>
      <input class="pdf-input" matInput [(ngModel)]="localData.pdfPath" placeholder="Загрузить .pdf">
      <button mat-mini-fab color="primary" (click)="pdfInput.click()">
        <span class="material-icons">attach_file</span>
      </button>
    </p>
    <p>
      <mat-slide-toggle [(ngModel)]="localData.active">Активнен</mat-slide-toggle>
    </p>
    <form>
      <div class="form-group img-upload-wrapper">
        <fieldset class="form-group">
          <label>Загрузить обложку для .pdf</label>
          {{imageError}}
          <div class="custom-file fileInputProfileWrap">
            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
            <div class="img-space">

              <ng-container *ngIf="isImageSaved; else elseTemplate">
                <img [src]="cardImageBase64"/>
              </ng-container>
              <ng-template #elseTemplate>

                <img src="assets/img/photo-placeholder-icon-0.jpg" class="img-responsive">
              </ng-template>
            </div>
          </div>
        </fieldset>
      </div>
      <button mat-button (click)="removeImage()" *ngIf="isImageSaved" color="warn">Удалить обложку</button>
      <br>
    </form>
  </div>
  <ng-template #elseTemplate>
    Уверен в удалении <b>{{localData.title}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-flat-button (click)="doAction()" color="warn">{{actionTranslateMapping(action)}}</button>
  <button mat-button mat-flat-button (click)="closeDialog()" color="primary">Отменить</button>
</div>
