@import "../../../app.global";

.product-item {
  @extend %fsb;
  align-items: flex-start;
  width: 100%;
  min-height: 500px;

  @media #{$mobile} {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @extend %fcc;
    margin-right: 30px;

    @media #{$mobile} {
      margin-right: 0;
      margin-bottom: 20px;
    }

    img {
      max-width: 250px;
      max-height: 250px;
    }
  }

  &__description-container {
    @extend %fcc;
    align-items: flex-start;
    width: 445px;

    @media #{$mobile} {
      width: 100%;
      align-items: center;
    }

    mat-tab-group {
      width: 100%;
    }

    .head {
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
    }

    .description{
      width: 100%;
      padding: 10px 5px;

      .text {
        font-size: 14px;
        overflow: hidden;
        width: 100%;

      }

      .button-container {
        @extend %fsb;
        width: 100%;
        margin-bottom: 40px;

        @media #{$mobile} {
          flex-direction: column;
        }

        .threeBtns {
          padding: 0 5px;
          min-width: 110px;
          text-decoration: none;
          color: black;

          @media #{$mobile} {
            margin-bottom: 20px;
          }

          &:hover {
            color: black;
          }
        }

        &__order-btn {
          color: white;
          padding: 0 5px;
          min-width: 110px;
          background: $main-color2;
        }
      }
    }

    .spec {

    }
  }
}

::ng-deep td {
  border-right: 1px solid #dee2e6;
}

::ng-deep tbody {
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

::ng-deep.text-small {
  font-size: 12px;
}

::ng-deep.text-tiny {
  font-size: 10px;
}

::ng-deep.text-big {
  font-size: 18px;
}

::ng-deep.text-huge {
  font-size: 22px;
}

::ng-deep.media {
  @extend %fc;
}

::ng-deep.media > div {
  width: 435px;
  height: 400px;

  @media #{$noDesktop} {
    height: auto;
  }
}
