@import "../../../app.global";

.product-item {
  @extend %fsb;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
  min-height: 930px;

  &__img {
    @extend %fcc;

    margin-right: 30px;

    img {
      max-width: 250px;
      max-height: 250px;
    }
  }

  &__description-container {
    @extend %fcc;
    align-items: flex-start;
    width: 445px;

    mat-tab-group {
      width: 100%;
    }

    .head {
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
    }

    .description{
      width: 100%;
      padding: 10px 5px;

      .text {
        font-size: 14px;
        overflow: hidden;
        width: 100%;
      }

      .button-container {
        @extend %fsb;
        width: 100%;

        button {
          padding: 0 5px;
          min-width: 110px;
        }

        &__order-btn {
          color: white;
          background: $main-color2;
        }
      }
    }

    .spec {
    }
  }
}


