<mat-spinner *ngIf="product.description.length <= 0"></mat-spinner>
<div *ngIf="product.description.length > 0" class="product-item">
  <div class="product-item__img">
    <img [src]="env.serverURL + product.imgPath" alt="">
  </div>
  <div class="product-item__description-container">
    <span class="name">
      {{product.name}}
    </span>
    <div class="description">
      <div class="button-container">
        <a *ngIf="product.pdf1Path != null"
          [href]="env.serverURL + product.pdf1Path"
          target="_blank"
          mat-raised-button
          class="threeBtns button-container__consult1-btn">
          <mat-icon aria-hidden="true" class="md-18">file_download</mat-icon>
          Тех. описание
        </a>
        <a *ngIf="product.pdf2Path != null"
          [href]="env.serverURL + product.pdf2Path"
          target="_blank" mat-raised-button
          class="threeBtns button-container__consult2-btn">
          <mat-icon aria-hidden="true">file_download</mat-icon>
          Паспорт качества
        </a>
        <button mat-flat-button class="button-container__order-btn">Заказать</button>
      </div>
      <span class="text" [innerHTML]="product.description"></span>

    </div>
  </div>
</div>
<div *ngIf="product.spec != null" class="spec">
  <span class="text" [innerHTML]="product.spec"></span>
</div>
