/* You can add global styles to this file, and also import other style files */
@import "app/app.global";
@import '~@angular/material/theming';
@import '~quill/dist/quill.snow.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-regular;
  overflow-x: hidden;
}

app-root {
  width: 100%;

  .ng2-pdf-viewer-container {
    overflow: hidden !important;
  }
}

$custom-typography: mat-typography-config(
  $font-family: $font-regular,
);

.page-item {

  &.disabled {
    .page-link {
      color: #dee2e6 !important;
    }
  }

  .page-link {
    color: $main-color3 !important;

    &:hover {
      color: $main-color3 !important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.active {
    .page-link {
      background: $main-color3 !important;
      border-color: $main-color3 !important;
      color: white !important;

      &:hover {
        color: white !important;
      }
    }
  }
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

@include mat-core($custom-typography);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


