@import "../../app.global";

main {
  width: 100%;
  background: white;

  .about-container{
    @extend %fcc;
    padding: 40px 0;
  }

  img {
    width: 30%;
    margin-bottom: 20px;
  }

  div {
    width: 100%;
  }
  .title {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $main-color2;
  }
}
