<main class="news-wrapper">
  <div class="about-container  container">
    <img src="assets/img/AEGIS_logo_ru.png" alt="">
    <p>
      Для Вас компания ЧТУП «АЕГИС» всегда рада представить широчайший ассортимент
      промышленных товаров и услуг, включающих металлорежущий и вспомогательный
      инструмент (в т. ч. нестандартный), станочную оснастку, смазочно-охлаждающие
      жидкости (СОЖ), а также комплексные мероприятия по технической поддержке
      всего ассортимента продукции.
    </p>
    <p>
      Надежность в качестве является для нас одним из главных приоритетов в работе с Вами!
      Под этим девизом мы понимаем: качественную и стабильную продукцию, своевременно
      оказанные услуги и грамотную техническую поддержку, таким образом: надежность
      в качестве — надежность во всем!
    </p>
    <p>
      Наша компания является молодой и активно растущей, поэтому мы
      используем все передовые технологии как в области подбора для Вас наиболее
      подходящей и качественной продукции, так и в области коммуникаций, логистики
      и технической поддержки. Мы всегда находим общий язык с нашими партнерами
      и готовы идти на компромиссы.
    </p>
    <div>
      Основными направлениями работы являются:
    </div>
    <br>
    <ul>
      <li>подбор инструмента и технологической оснастки под конкретные условия обработки;</li>
      <li>технические консультации по применению инструмента</li>
      <li>подбор оборудования и оснащения его инструментом под конкретный технологический. процесс, от проекта до выпуска
        контрольной детали
      </li>
      <li>определение стойкостных параметров инструмента путем проведение совместных испытаний на производственных
        мощностях заказчика.
      </li>
    </ul>
    <p>
      Бизнес для бизнеса (В2В) — это условие налагает на нас особую ответственность,
      ведь напрямую от нас зависят успехи наших партнеров. Наши специалисты постоянно
      повышают свои знания и навыки, участвуя в тренингах, семинарах и профильных выставках.
      Мы ценим долгосрочное сотрудничество и готовы предоставить нашим постоянным заказчикам
      профессиональную консультацию, качественный сервис и самые удобные цены.
    </p>
    <p>
      По Вашему запросу мы оперативно сообщим любую дополнительную информацию и вышлем коммерческое предложение на
      интересующие
      Вас позиции продукции.
    </p>
  </div>
</main>
