@import "../app.global";

app-sidebar {
  height: 100vh;
  position: fixed;
  width: 400px;
  background: $main-color3;
  right: 0;
  top: 0;
  transform: translate3d(400px, 0, 0);
  transition: .4s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 999;
  visibility: hidden;

  &.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.home-wrapper {
  background: $main-color2;

  .first-section {
    height: calc(100vh - 140px);
    display: flex;
    position: relative;
    overflow: hidden;

    &-left-sector, &-right-sector {
      filter: brightness(1.15) contrast(0.75);
    }

    &-left-sector {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: url("/assets/img/back-left.png") no-repeat;
      transition: .3s ease-in-out;
    }

    &-right-sector {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: url("/assets/img/back-right.png") no-repeat;
    }

    &-sq-sector {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .sq-sector-item {
        width: 308px;
        height: 615px;
        transition: .7s ease-in-out;
        animation-delay: 1.2s;

      }

      &__left {
        position: absolute;
        left: -308px;
        z-index: 3;
        animation: sq-from-left .8s forwards;
      }

      &__right {
        position: absolute;
        right: -308px;
        z-index: 3;
        animation: sq-from-right .8s forwards;
      }
    }

    &-goToProduct-sector {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .goToProduct-sector-item {
        width: 470px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .title-box {
          border: 1px solid $main-color4;
          color: white;
          background: rgba(0, 35, 89, 0.7);
          font-size: 30px;
          font-weight: bolder;
          text-transform: uppercase;
          padding: 15px 20px;
        }

        .title-box-right {
          text-align: right;
        }

        .goToProduct-btn {
          text-decoration: none;
          padding: 15px 20px;
          background: $main-color1;
          color: white;
          border-radius: 3px;
          font-weight: bolder;
          font-size: 18px;

          &:hover {
            background: $main-color2;
          }
        }
      }

      &__left {
        align-items: flex-end !important;
      }

      &__right {
        align-items: flex-start !important;
      }
    }
  }

  .second-section {
    margin: 30px 0;
    border-top: 10px solid $main-color1;
    border-bottom: 10px solid $main-color1;
    background: $main-color2;

    &__advantages {
      margin-top: 150px;
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;

        .title {
          color: white;
          font-size: 96px;
          line-height: 90px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        .line {
          width: 50px;
          border-top: 7px solid $main-color1;
          margin-bottom: 30px;
        }

        .text {
          text-transform: uppercase;
          text-align: center;
          color: white;
        }

        &.text-item {
          width: 350px;
          align-items: flex-start;

          .title {
            color: white;
            font-size: 36px;
            line-height: 45px;

          }

          .line {
            width: 100px;
          }

          .text {
            text-align: left;
          }
        }
      }
    }

    &__partner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 423px;
      margin-bottom: 150px;

      &-info {
        width: 46%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .title {
          color: white;
          font-size: 32px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .line {
          border-top: 7px solid $main-color1;
          width: 80px;
          margin-bottom: 20px;
        }

        .text {
          color: white;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        .btn {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: $main-color3;
          }
        }
      }
    }
  }

  .third-section {
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 150px;


    .third-section__1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 150px;

      &_item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 260px;

        .img-container {
          margin-bottom: 40px;
          height: 70px
        }

        .line {
          border-top: 7px solid $main-color1;
          width: 75px;
          margin-bottom: 30px;
        }

        .small-title, .medium-title {
          text-transform: uppercase;
          font-size: 16px;
          color: #525253;
          margin-bottom: 10px;
        }

        .big-title {
          color: $main-color2;
          font-size: 22px;
          font-weight: bolder;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .medium-title {
          text-align: center;
          margin-bottom: 20px;
        }

        .text {
          text-align: center;
          color: #525253;
        }
      }
    }

    .third-section__2 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 150px;


      &_info {
        width: 48%;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .title {
          font-size: 50px;
          color: $main-color2;
          font-weight: bolder;
          text-transform: uppercase;
        }

        .line {
          width: 72px;
          border-top: 7px solid $main-color1;
        }

        .text {
          color: #525253;
          line-height: 25px;
          font-size: 16px;
        }

        .btn {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background: $main-color2;
          }
        }
      }

      &_img {
        width: 48%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          border: 5px solid $main-color1;
          width: 250px;
        }
      }

    }

  }

  .sixth-section {
    height: 600px;
    width: 100%;
    background: url("/assets/img/back1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 566px;
      border-top: 7px solid $main-color1;
      border-bottom: 7px solid $main-color1;
      z-index: 1;

    }

    .sixth-section-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sixth-section__left {
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        font-size: 36px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      .line {
        border-top: 7px solid $main-color1;
        width: 75px;
        margin-bottom: 25px;
      }

      .text1 {
        margin-bottom: 25px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bolder;
      }

      .text2 {
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 25px;
      }

      .form6s {
        z-index: 2;

        .input-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;

          input {
            width: 220px;
            height: 35px;
            padding-left: 15px;
            outline: none;
            border: 2px solid transparent;

            &:focus {
              border: 2px solid $main-color1;
            }


            &::placeholder {
              color: $main-color3;
            }

            &:first-child {
              margin-right: 20px;
            }
          }
        }

        button {
          text-decoration: none;
          background: $main-color1;
          color: white;
          font-weight: bolder;
          font-size: 16px;
          padding: 15px 25px;
          border-radius: 3px;
          cursor: pointer;
          border: none;

          &:hover {
            background: $main-color3;
          }
        }
      }
    }

    .sixth-section__right {

    }
  }
}

@keyframes sq-from-left {
  100% {
    transform: translate3d(308px, 0, 0);
  }
}

@keyframes sq-from-right {

  100% {
    transform: translate3d(-308px, 0, 0);
  }
}
