<app-header (activeEvent)="receiveActiveHeader($event)" [active]="active"></app-header>
<app-sidebar (activeEvent2)="receiveActiveSideBar($event)" [active]="active" [ngClass]="active ? 'active': ''"></app-sidebar>
<main class="home-wrapper">
  <section class="first-section">
    <div class="first-section-left-sector"></div>
    <div class="first-section-right-sector"></div>
    <div class="first-section-sq-sector">
      <img class="first-section-sq-sector__left sq-sector-item" src="assets/img/sq-left.png" alt="">
      <img class="first-section-sq-sector__right sq-sector-item" src="assets/img/sq-right.png" alt="">
    </div>
    <div class="first-section-goToProduct-sector">
      <div class="first-section-goToProduct-sector__left goToProduct-sector-item">
        <div class="title-box title-box-left">Продажа <br>металлорежущего инструмента и оснастки</div>
        <a class="goToProduct-btn goToProduct-btn-left" href="">Перейти в раздел</a>
      </div>
      <div class="first-section-goToProduct-sector__right goToProduct-sector-item">
        <div class="title-box title-box-right">Продажа <br> высококачественных смазочных материалов</div>
        <a class="goToProduct-btn goToProduct-btn-right" href="">Перейти в раздел</a>
      </div>
    </div>
  </section>
  <section class="second-section">
    <div class="second-section__advantages container">
      <div class="second-section__advantages-item text-item">
        <div class="title">Преимущества <br> нашей компании</div>
        <div class="line"></div>
        <div class="text">Мы сотрудничаем с крупнейшими производственными компания по всей Беларуси и Европе</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">92</div>
        <div class="line"></div>
        <div class="text">Клиента</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">34</div>
        <div class="line"></div>
        <div class="text">Страны <br> отгрузки</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">12</div>
        <div class="line"></div>
        <div class="text">Лет <br> на рынке</div>
      </div>
      <div class="second-section__advantages-item">
        <div class="title">9</div>
        <div class="line"></div>
        <div class="text">Луших <br> производителей</div>
      </div>
    </div>
    <div class="second-section__partner container">
      <img src="assets/img/back0.png" alt="">
      <div class="second-section__partner-info">
        <div class="title">
          Ваш надёжный <br> партнёр и поставщик
        </div>
        <div class="line"></div>
        <div class="text">
          Мы работаем с высококачественными материалами
          и предоставляем отличный сервис, потому что
          считаем, что это единственный способ работать
          хорошо. Мы каждый день тестируем наши продукты
          с клиентами, каждый день в постоянном процессе
          разработки, где единственные вещи, которые
          считаются важными - это факты, цифры и отчеты.
          Мы используем нашу гибкость, потому что это
          позволяет нам сосредоточиться на деталях и
          предлагать своим клиентам индивидуальные решения.
        </div>
        <a class="btn" href="#">Подробнее</a>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
